<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="vendors/angular.min.js"></script>
  <script src="client.js"></script>
</head>
<body ng-app="FoodApp" ng-controller="FoodController as vm">
  <h1>Angular Restaurant</h1>
  <input placeholder="Add a food" ng-model="vm.foodToAdd">
  <button ng-click="vm.addFood(vm.foodToAdd)">Click to Add</button>
  <ul>
    <li ng-repeat="food in vm.foods">{{food.name}}</li>
  </ul>
  <div>{{vm}}</div>
</body>
</html>